.section-hero {
  position: relative;
  height: 100vh;
}

.section-about,
.section-work {
  margin: 0 auto;
  width: calc(100vw - 8rem);
  display: flex;
  justify-content: center;
}

.section {
  &-about {
    padding: 0 10rem 8rem 2.4rem;
    background-color: $color-blackish;

    @include respond-to('md') {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }

  &-work {
    height: 100vh;
    margin-top: 5rem;
    align-items: center;

    & p {
      font-size: 8em;
    }
  }

  &-technologies {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 5rem 10rem 5rem 2.4rem;

    & div {

      & img {
        height: 10rem;
        padding: 1.4rem;
        filter: drop-shadow(0 0 .75rem $color-primary);
        animation: growIntoPlace .3s ease forwards;
        opacity: 0;
      }

      & .tailwindIcon {
        width: 12rem;
        object-fit: contain;
      }

      & .nodeIcon {
        width: 18rem;
        object-fit: contain;
      }

      & p {
        font-family: $font-secondary;
        font-size: 2rem;
        text-align: center;
        color: $color-primary;
        animation: fadeIn 1s ease forwards;
        opacity: 0;
      }
    }
  }
}

.section-footer {
  height: 30vh;
  background: $color-blackish;
  border-top: .1rem solid $color-gray-dark;
}
