@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Raleway:wght@300;400&display=swap');

// colors
$color-primary: #55c57a;
$color-primary-light: rgb(27, 112, 24);
$color-primary-dark: rgb(26, 113, 111);

$color-secondary-light: #ffb900;
$color-secondary-dark: #1b7018;

$color-tertiary-light: #2998ff;
$color-tertiary: #1a80df;
$color-tertiary-dark: #5643fa;


$color-white: #fff;
$color-gray-dark: #777;
$color-almost-black: #232323;
$color-blackish: #151515;


// grid
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;

// font
$default-font-size: 1.6rem;
$font-primary: 'Poppins', sans-serif;
$font-secondary: 'Raleway', sans-serif;
