.embla {
  width: 100%;
  margin: auto;
  --slide-height: 90%;
  --slide-spacing: 1.6rem;
  --slide-size: 80%;
  overflow: hidden;

  &__viewport {
    overflow: hidden;
  }

  &__container {
    display: flex;
    touch-action: pan-y pinch-zoom;
  }

  &__slide {
    transform: translate3d(0, 0, 0);
    flex: 0 0 var(--slide-size);
    min-width: 0;
    padding-left: var(--slide-spacing);

    &__img {
      border-radius: 1.8rem;
      display: block;
      height: var(--slide-height);
      width: 100%;
      object-fit: cover;
    }
  }

  &__controls {
    display: grid;
    grid-template-columns: auto 1fr;
    justify-content: space-between;
    gap: 1.2rem;
    margin-top: 1.8rem;
  }
  &__button {
    -webkit-tap-highlight-color: rgba(var(--text-high-contrast-rgb-value), 0.5);
    -webkit-appearance: none;
    appearance: none;
    background-color: $color-blackish;
    touch-action: manipulation;
    display: inline-flex;
    text-decoration: none;
    cursor: pointer;
    width: 5rem;
    height: 5rem;
    z-index: 1;
    border-radius: 50%;
    color: $color-primary;
    display: flex;
    align-items: center;
    justify-content: center;
    -webkit-transition: background-color 200ms linear;
    -ms-transition: background-color 200ms linear;
    transition: background-color 200ms linear;

    &:hover {
      background-color: $color-white;
      -webkit-transition: background-color 200ms linear;
      -ms-transition: background-color 200ms linear;
      transition: background-color 200ms linear;
    }

    &s {
      margin-left: 10rem;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 0.6rem;
      align-items: center;
    }

    &:disabled {
      color: $color-gray-dark;
    }

    &__svg {
      width: 35%;
      height: 35%;
    }
  }

  &__dot {
    -webkit-tap-highlight-color: rgba(var(--text-high-contrast-rgb-value), 0.5);
    -webkit-appearance: none;
    appearance: none;
    background-color: transparent;
    touch-action: manipulation;
    display: inline-flex;
    text-decoration: none;
    cursor: pointer;
    border: 0;
    padding: 0;
    margin: 0;
    width: 2.6rem;
    height: 2.6rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;

    &s {
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-end;
      align-items: center;
    }

    &:after {
      box-shadow: inset 0 0 0 0.2rem var(--detail-medium-contrast);
      width: 1.4rem;
      height: 1.4rem;
      border-radius: 50%;
      display: flex;
      align-items: center;
      content: '';
    }

    &--selected:after {
      box-shadow: inset 0 0 0 0.2rem var(--text-body);
    }
  }
}
