.text-block {
  width: 100%;
  color: $color-primary;
  margin: 7rem 0 7rem 2rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;

  @include respond-to('md') {
    width: 100%;
  }
  @include respond-to('xxs') {
    width: 97%;
    margin: 7rem 2rem;
    max-width: 100vw;
  }

  h2 {
    font-family:$font-secondary;
    font-size: 4.1rem;
    color: $color-primary;
    margin-bottom: 2rem;
    max-width: 100%;

    @include respond-to('sm') {
      font-size: 3.2rem;
      padding-right: 2rem;
    }
  }

  p {
    font-family: $font-primary;
    font-size: 2.2rem;
    padding-right: 3rem;
    max-width: 100%;

    @include respond-to('sm') {
      font-size: 1.6rem;
    }
  }
}
