.workItems {
  display: flex;
  flex-direction: column;

  & > h2 {
    font-size: 8rem;
    color: $color-primary;
    font-family: $font-secondary;
    text-align: center;
    margin-top: 5rem;

    @include respond-to('md') {
      font-size: 6rem;
    }

    @include respond-to('xs') {
      font-size: 3.5rem;
      margin: 2rem 0;
    }
  }

  & > div {
    padding: 0 7rem 10rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    justify-content: center;
    height: contain;

    @include respond-to('md') {
      padding: 0 3rem 10rem;
      grid-template-columns: 1fr;
    }

    & > div {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;

      & > a {
        width: 85%;
        text-decoration: none;
        display: flex;
        flex-direction: column;
        align-items: center;

        @include respond-to('xs') {
          width: 100%;
        }

        & > p {
          width: fit-content;
          font-size: 5rem;
          color: $color-white;
          font-family: $font-primary;
          text-align: center;
          padding: 4rem 0;
          margin-top: 5rem;
          transition: all 0.3s ease;

          @include respond-to('xs') {
            margin-top: 1rem;
            padding: 2rem 0;
          }

          &:hover{
            color: $color-tertiary-light;
            scale: 1.05;
            transition: all 0.3s ease;
          }

          @include respond-to('md') {
            font-size: 3.5rem;
          }

          @include respond-to('xs') {
            font-size: 2.5rem;
          }
        }

        & > img {
          align-self: center;
          justify-self: center;
          width: 100%;
          height: auto;
          border-radius: 1rem;
          transition: all 0.3s ease;

          &:hover{
            box-shadow: 0 0 1rem $color-tertiary;
            transition: all 0.3s ease;
          }
        }
      }
    }
  }
}
